img{
  width: 100px;
}

html{
  font-family: arial;
  background-color: #dddddd;
}

h1{
  font-size: 30px;
}

header{
  position: fixed;
  background-color: #dddddd;
  width: 100%;
  margin-top: -50px;
  padding: 10px;
  padding-top: 35px;
  display: flex;
  flex-direction: row;
}

logo{
  display: flex;
  flex-direction: row;
}

#header-img{
  margin: 10px 20px 10px 0;
}

#nav-bar{

}

#nav-link{

}

section:first-of-type{
  height: 50px;
}

section{
  margin-bottom: 100px;
  display: block;
  padding: 10px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

iframe{
  max-width: 40%;
  height: auto;
}

.features-div{
  display: flex;
  flex-direction: column;
}

.description{
  display: flex;
  flex-direction: column;
}

#models{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#icon{
 width: 75%;
}

#model{
  margin: 10px;
  width: 60%;
  border: 5px solid grey;
  background-color: white;
}

form{

}

#email{

}

#submit{

}

@media(max-width: 500px){
  #models{
    flex-direction: column;
  }
}